<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
   <link rel="stylesheet" href="styling.css" /> 
    <link rel="icon" type="image/png" href="news-hog-logo-transparent.png" />
    <HeadOutlet />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // temporarily addiing submit event listener to all forms (may change this)
            document.querySelectorAll('form').forEach(form => {
                form.addEventListener('submit', function (event) {
                    if (window.location.pathname === '/') {
                        saveScrollPosition('indexScrollPosition');
                    }
                    // ... may add other conditions for different pages so can save the scroll position for other pages
                });
            });

            // restoring the scroll position specifically for index page
            restoreScrollPosition('indexScrollPosition');
        });

        function saveScrollPosition(key) {
            localStorage.setItem(key, window.scrollY || document.documentElement.scrollTop);
        }

        function restoreScrollPosition(key) {
            const savedPosition = localStorage.getItem(key);
            if (savedPosition) {
                setTimeout(function () {
                    window.scrollTo(0, parseInt(savedPosition));
                    localStorage.removeItem(key);
                }, 20);
            }
        }


    </script>
    <script>
        window.scrollToElement = (elementId) => {
            let element = document.getElementById(elementId);
            element.scrollIntoView({ behavior: "smooth" });
        };
    </script>
    <script>
        window.scrollToBottom = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
