
.news-grid {
    display: grid;
    grid-gap: 1rem;
    margin-top: 2rem;
    justify-self: center;
    grid-auto-flow: dense;
}

@media screen and (max-width: 600px) {

    .news-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

    .news-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 901px) {

    .news-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1600px) {
    .news-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
.last-row {
    justify-self: center;
}

.news-grid::after {
    content: "";
    grid-column: 1 / -1;
}


.news-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

    .news-card img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

.news-card-body {
    padding: 1rem;
}

    .news-card-body h5 {
        margin-bottom: 0.5rem;
    }

    .news-card-body p {
        color: #666;
        line-height: 1.6;
    }

.reply-box {
    margin-left: 30px;
    background-color: #F0F0F0;
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.button-x {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.comments {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #F9F9F9;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
}

.reply-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.responsive-image {

    width: auto;
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    object-fit: contain; 
}

.article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.article-header {
    text-align: center;
    margin: 1rem 0;
}

.article-content {
    width: 100%;
}

@media (min-width: 768px) {
    .article {

        margin: auto; 
        max-width: none;
    }
}

.date {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 1rem;
}

.date {
    font-size: 0.8em; 
    color: #666;
    margin-bottom: 1rem;
}

h2, h3, h5 {
    color: #333;
}

h3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

button {
    font-size: 0.9em;
}

p {
    line-height: 1.6;
}

textarea {
    width: 100%;
    min-height: 100px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; 
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button + button {
        margin-left: 10px;
    }

.profile-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}

.comment-body {
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.comment-date {
    color: #666;
}

.replies {
    margin-top: 10px;
    margin-left: 30px;
}

.reply + .reply {
    margin-top: 10px;
}

h3 {
    display: inline-block;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sort-dropdown {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    margin-top: 10px;
}

@media (min-width: 700px) {
    .filter-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sort-dropdown {
        margin-top: 0;
    }
}

.categories-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 10px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.category {
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
}

    .category a {
        text-decoration: none;
        color: black;
    }

.selected-category {
    background-color: #2F80ED;
    color: white;
    border: 2px solid #2569B2; 
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.category a:hover,
.category.selected-category a {
    text-decoration: none; 
    color: white;
}

.category:hover,
.category.selected-category {
    background-color: #4C8DF5; 
    border-color: #2C6DB7; 
}




.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 7rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}



.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: #737373;
    border-bottom: 1px solid #ddd;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
        border-top: 1px solid #ddd;
    }




.user-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

a, .privacy-link {
    color: #007bff;
    font-family: Arial, sans-serif;
    margin-right: 15px;
    font-size: 1rem;
    text-decoration: underline;
}

a, .logout-link {
    color: #007bff;
    font-family: Arial, sans-serif;
    margin-right: 15px;
    font-size: 1rem;
    text-decoration: underline;
}



a, .logout-link {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size:15px;
}

.top-row-LoginDisplay {
    background-color: #ffffff;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    align-items: center;
    width:100%;
}

.filter-container .trending-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filter-container .form-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-reply-post,
.button-reply-cancel {
    display: inline-block; 
    margin-right: 10px; 
}

.button-reply-post,
.button-reply-cancel {
    max-width: 150px; 
    margin: 0 auto; 
    display: block; 
    margin-bottom: 10px; 
}
.button-reply-post,
.button-reply-cancel {
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 1em; 
    text-align: center;
    vertical-align: middle; 
    line-height: 1;
}

.number-input {
    width: 50px; 
    display: inline-block; 
}
.post-stats {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
    margin-top: 0.5rem !important;
}

    .post-stats .icon {
        width: 16px !important; /* Adjust the size as needed */
        height: 16px !important; /* Adjust the size as needed */
        display: inline-block !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        vertical-align: middle !important;
        /* Ensure images are not stretched */
        object-fit: contain !important;
    }
