@page "/admin/"

<div class="d-flex flex-column align-items-center">

    <NavLink class="btn btn-link" href="/admin/posts/">Manage Posts</NavLink>
    <br /><br />
    <NavLink class="btn btn-link" href="/admin/categories/">Manage Categories</NavLink>
    <br />
    <br />
    <NavLink class="btn btn-link" href="/admin/users/">Manage Users</NavLink>

</div>
