@implements IDisposable

@inject NavigationManager NavigationManager
<style>
  

</style>
<div class="top-row-LoginDisplay">
<AuthorizeView>
    <Authorized>
        <div class="">
                <a class="logout-link">Hello, @context.User.Identity?.Name!</a>
            <form method="post" action="Account/Logout" class="logout-form">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="logout-link">Log out</button>
                </form>
        </div>
    </Authorized>
    <NotAuthorized>
            <a class="logout-link" href="/Account/Register" style="margin-right:15px">Register</a>
            <a class="logout-link" href="/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

