.user-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-link {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #007bff; 
    text-decoration: underline;
    cursor: pointer;
}

    /* Additional styling to remove button appearance on focus */
    .logout-link:focus {
        outline: none;
        box-shadow: none;
    }

/* Ensure the logout link does not break to a new line */
.user-info span, .user-info form {
    white-space: nowrap;
}
